.blinking{
    animation:blinkingText 1s infinite;
}
.rotate{
    animation: spin 0.5s infinite;
}
@keyframes spin{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}
@keyframes blinkingText{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}